@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEncomiendaModel
@{
}

<div class="text-center">
<form method="post">
  <label for="id" class="form-label">id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id">
  <label for="descripcion" class="form-label">Descripcion:</label>
  <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion">
  <label for="peso" class="form-label">Peso:</label>
  <input type="text" class="form-control" id="peso" name="peso" placeholder="Peso">
  <label for="tipo" class="form-label">Tipo:</label>
  <input type="text" class="form-control" id="tipo" name="tipo" placeholder="tipo">
  <label for="presentacion" class="form-label">Presentacion:</label>
  <input type="text" class="form-control" id="presentacion" name="presentacion" placeholder="Presentacion">
  <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>