@page
@model ProyectoCiclo3.App.Frontend.Pages.FormServicioModel
@{
}

<div class="text-center">
<form method="post">
  <label for="id" class="form-label">id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id">
  <label for="origen" class="form-label">Origen</label>
  <input type="text" class="form-control" id="origen" name="origen" placeholder="Origen">
  <label for="destino" class="form-label">Destino</label>
  <input type="text" class="form-control" id="destino" name="destino" placeholder="Destino">
  <label for="fecha" class="form-label">Fecha</label>
  <input type="text" class="form-control" id="fecha" name="fecha" placeholder="Fecha">
  <label for="hora" class="form-label">Hora:</label>
  <input type="text" class="form-control" id="hora" name="hora" placeholder="Hora">
  <label for="encomienda class="form-label">Encomienda:</label>
  <input type="text" class="form-control" id="encomienda" name="encomienda" placeholder="encomienda">
  <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>